# shellcheck shell=bash
# SPDX-License-Identifier: 0BSD
# SPDX-FileCopyrightText: 2024 Dusk Banks <me@bb010g.com>

# SPDX-SnippetBegin
# SPDX-SnippetName: nix-direnv source_url
# SPDX-License-Identifier: MIT
# SPDX-SnippetCopyrightText: 2019 Nix community projects
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi
# SPDX-SnippetEnd

use flake .
